// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 

 body {
    text-align:center;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
  }

  h1 {
    font-size: 28px;
    color: #000;
  }


 #login {
 	min-height: 14em;
 	background-color: grey;
 	margin-top: 10em;
 	margin-bottom: 3em;
 	padding-top: 1em;
 }

 #company_list {
    padding-top: 2em;
    padding: 2em;
 }

 #report {
    background: url("../firestorm20140703_1349321194023081.jpg");
    background-size: cover;
    color: rgba(10,245,0,0.33);
    font-size: 250px;
 }

 #condition {
    background-color: white;
    background-size: cover;
    max-width: 50em;
    padding: 2em;
    margin: 2em;
 }

