<div class="large-12 columns">
  <div id="company_list" class="large-6 large-centered columns">  
    <ul id="company_list">
      <li><%= link_to(image_tag("firemansfund.jpg"), "show") %></li>
      </br>
      <li><%= link_to(image_tag("usaa.jpg"), "show") %></li>
      </br>
      <li><%= link_to(image_tag("statefarm.png"), "show") %></li>
      </br>
      <li><%= link_to(image_tag("libertymutual.jpg"), "show") %></li>
    </ul>
  </div>
</div>
<ol class="joyride-list" data-joyride>
  <li data-button="End">
    <p>Click any of the logos to go to the example report list, this page is just to illustrate that we can keep reports separate per insurance company.</p>
  </li>
</ol>